asciitree==0.3.3
astroid==4.0.2
black==25.11.0
bytecode==0.17.0
click==8.3.1
dill==0.4.0
docstring_parser==0.17.0
iniconfig==2.3.0
Jinja2==3.1.6
libcst==1.8.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
mdurl==0.1.2
multiprocess==0.70.18
mypy_extensions==1.1.0
networkx==3.5
packaging==25.0
pathspec==0.12.1
platformdirs==4.5.0
pluggy==1.6.0
psutil==7.1.3
Pygments==2.19.2
pynguin==0.44.0
pytest==8.4.2
pytokens==0.3.0
PyYAML==6.0.3
rich==14.2.0
rstr==3.2.2
setuptools==80.9.0
simple-parsing==0.1.7
toml==0.10.2
typing-inspect==0.9.0
typing_extensions==4.15.0
