asciitree==0.3.3
astroid==4.0.2
black==25.11.0
bytecode==0.17.0
click==8.3.1
contourpy==1.3.3
cycler==0.12.1
dill==0.4.0
docstring_parser==0.17.0
fonttools==4.60.1
iniconfig==2.3.0
Jinja2==3.1.6
joblib==1.5.2
kiwisolver==1.4.9
libcst==1.8.6
markdown-it-py==4.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
mdurl==0.1.2
multiprocess==0.70.18
mypy_extensions==1.1.0
networkx==3.5
numpy==2.3.5
packaging==25.0
pandas==2.3.3
pathspec==0.12.1
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
psutil==7.1.3
Pygments==2.19.2
pynguin==0.44.0
pyparsing==3.2.5
PyQt5==5.15.11
PyQt5-Qt5==5.15.18
PyQt5_sip==12.17.1
pytest==8.4.2
python-dateutil==2.9.0.post0
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
rich==14.2.0
rstr==3.2.2
scikit-learn==1.7.2
scipy==1.16.3
seaborn==0.13.2
setuptools==80.9.0
simple-parsing==0.1.7
six==1.17.0
threadpoolctl==3.6.0
toml==0.10.2
typing-inspect==0.9.0
typing_extensions==4.15.0
tzdata==2025.2
